# Ignore IDE settings
.idea/

# Ignore Python virtual environment
.venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore test coverage reports
htmlcov/
.coverage
.coverage.*

# Ignore log files
*.log

# Ignore environment variable files
.env
.env.*

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore MacOS system files
.DS_Store


# Ignore Security files
.storage_secret

# Ignore User files
.nicegui/
results/
